.team {
    background-color: var(--seventh-color);  
}

.team-list {
    display: flex;
    justify-content: space-evenly;
    margin-left: -30px;

        &__item {
        flex-basis: calc(100%/4-30px);
    }
        &__card {
        box-shadow: 0px 1px 3px var(--team-shadow-color);
        border-radius: 0px 0px 4px 4px;
        height: 428px;
        background-color: var(--third-color);
    }
}

.team-list__link {
    display: flex;
    text-decoration: none;
    width: 44px;
    height: 44px;
    background-color: var(--third-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--social-icon);

        &:hover, &:focus {
        background-color: var(--secondary-color);
        fill: var(--third-color);
    }
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03rem;
    color: var(--four-color);
    text-align: center;
}

.team__title {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03rem;
    text-align: center;
}
