.welcome {
    background-image: linear-gradient(var(--bg-overlay),var(--bg-overlay)),
    url('../images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;

        &__header {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--third-color);
        margin-bottom: 30px;
    }
    
        &__button {
        display: block;
        color: var(--third-color);
        background-color: var(--secondary-color);
        margin-right: auto;
        margin-left: auto;
        padding: 10px 41px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        border-style: none;
        box-shadow: 0px 4px 4px var(--shadow-color);
        border-radius: 4px;
    }
}

.welcome .welcome__header {
    width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

